<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NotaNueva</title>
  
</head>
<body>
  

  <div id="nota">
    <h1>Nota Nueva</h1>
    <h3>Datos Recolecta</h3>
    <form class="formNotaNueva">
      <p>
      <label>Cliente</label>  
      <input type="text" name="Cliente">
        <label>Fecha Hora Recolecta</label>  
        <input type="date" name="FechaRecolecta">
        <label>Numero de Nota</label>  
        <input type="number" name="NumeroNota">
          </p>

          <h3>Servicio Hoteleria</h3>

      <p>
        <label for="serviciosHoteleria">Seleccionar Servicios Hoteleria</label>
        <select id="hoteleria">
          <option value="almoada">Almoada</option>
          <option value="fundasAlmohadasViejas">Fundas Almohadas Viejas</option>
          <option value="fundasAlmohadasNuevas">Fundas Almohadas Nuevas</option>
          <option value="sabanaNueva">Sabana Nueva</option>
          <option value="sabanaVieja">Sabana Vieja</option>
          <option value="toallaDeBañoVeja">Toalla De Baño Veja</option>
          <option value="toallaDeBañoNueva">Toalla De Baño Nueva</option>
          <option value="tapeteDeBañoVieja">Tapete De Baño Vieja</option>
          <option value="tapeteDeBañoNueva">Tapete De Baño Nueva</option>
          <option value="toallaDeManoVieja">Toalla De Mano Vieja</option>
          <option value="toallaDeManoNueva">Toalla De Mano Nueva</option>
          <option value="toallaFacial">Toalla Facial</option>
          <option value="bataDeBaño">Bata De Baño</option>
          <option value="cobertor">Cobertor</option>
          <option value="edrecolcha">Edrecolcha</option>
          <option value="relleno">Relleno</option>
          <option value="cortinaDeBaño">Cortina De Baño</option>
          <option value="rodapie">Rodapie</option>
          <option value="dubeth">Dubeth</option>
          <option value="protectorDeColchon">Protector De Colchon</option>
          <option value="pieDeCama">Pie De Cama</option>
          <option value="limpion">Limpion</option>
          <option value="cortinaBlackout">Cortina Blackout</option>
        </select>
      </p>
            <h3>EXT Hospital</h3>

        <p>
          <label for="serviciosHospital">Seleccionar Servicios Hoteleria</label>
        <select id="hospital">
          <option value="bataAislamiento">Bata Aislamiento</option>
          <option value="bataPaciente">Bata Paciente</option>
          <option value="bataRegular">Bata Regular</option>
        </select>
        </p>


    <h3>Manteleria</h3>
    <p>
      <label for="serviciosManteleria">Seleccionar Servicios Hoteleria</label>
      <select id="manteleria">
        <option value="moyeton">Moyeton</option>
        <option value="moyetonPlastificado">Moyeton Plastificado</option>
        <option value="banda">Banda</option>
        <option value="camino">Camino</option>
        <option value="bambalina">Bambalina</option>
        <option value="bambalinaGrande">Bambalina Grande</option>
        <option value="cubreSilla">Cubre Silla</option>
        <option value="cubreCharola">Cubre Charola</option>
        <option value="cubreCabrilla">Cubre Cabrilla</option>
        <option value="cubreMantel">Cubre Mantel</option>
        <option value="liston">Liston</option>
        <option value="tablon">Tablon</option>
        <option value="tablonGrande">Tablon Grande</option>
        <option value="mantelGrande">Mantel Grande</option>
        <option value="mantelMediano">Mantel Mediano</option>
        <option value="mantelRedondo">Mantel Redondo</option>
        <option value="mantelImperial">Mantel Imperial</option>
        <option value="mantelSpandex">Mantel Spandex</option>
        <option value="servilleta">Servilleta</option>
        <option value="cortinaNegra">CortinaNegra</option>
        <option value="moño">Moño</option>
        <option value="bandera">Bandera</option>

      </select>
    </p>

    <h3>Ropa ExpoGDl EXT</h3>
    <p>
      <label for="serviciosManteleriaExtra">Seleccionar Servicios Hoteleria</label>
      <select id="manteleriaExtra">
        <option value="filipina">Filipina</option>
        <option value="chamarraTermica">Chamarra Termica</option>
        <option value="chaleco">Chaleco</option>
        <option value="trajeDeBombero5pz">Traje De Bombero 5pz</option>

      </select>
    </p>
           

  <h3>Servicio Frente</h3>
      
    <p>
      <label for="serviciosFrenteLavanderia">Seleccionar Servicios Hoteleria</label>
      <select id="serviciosFrente">
        <option value="encargoPorKilo">Encargo Por Kilo</option>
        <option value="planchaDocena">Plancha Docena</option>
        <option value="planchaPieza">Plancha Pieza</option>
        <option value="blusas">Blusas</option>
        <option value="camisas">Camisas</option>
        <option value="corbatas">Corbatas</option>
        <option value="chamarras">Chamarras</option>
        <option value="playeras">Playeras</option>
        <option value="faldas">Faldas</option>
        <option value="pantalones">Pantalones</option>
        <option value="sacos">Sacos</option>
        <option value="sweters">Sweters</option>
        <option value="trajes2Pz">Trajes 2Pz</option>
        <option value="trajes3Pz">Trajes 3Pz</option>
        <option value="vestidos">Vestidos</option>

      </select>
    </p> 
   
      <input type="submit" value="Enviar" >
  
  
  
    </form>
  </div>

</body>
</html>
