<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NotaNueva</title>
  
</head>
<body>
  

  <div id="nota">
    <h1>Nota Nueva</h1>
    <h3>Datos Recolecta</h3>
    <form class="formNotaNueva">
      <p>
      <label>Cliente</label>  
      <input type="text" name="Cliente">
        <label>Fecha Hora Recolecta</label>  
        <input type="date" name="FechaRecolecta">
        <label>Numero de Nota</label>  
        <input type="number" name="NumeroNota">
          </p>

          <h3>Servicio Hoteleria</h3>
      <p>
        <label>Almoada</label>  
        <input type="number" name="Almoada">
          </p>
      <p>
        <label>Fundas Almohadas Viejas</label>  
        <input type="number" name="FundasAlmohadasViejas">
          </p>
      <p>
        <label>Fundas Almohadas Nuevas</label>  
        <input type="number" name="FundasAlmohadasNuevas">
          </p>
      <p>
        <label>Sabana Nueva</label>  
        <input type="number" name="SabanaNueva">
          </p>
      <p>
        <label>Sabana Vieja</label>  
        <input type="number" name="SabanaVieja">
          </p>
      <p>
        <label>Toalla De Baño Veja</label>  
        <input type="number" name="ToallaDeBañoVeja">
          </p>
      <p>
        <label>Toalla De Baño Nueva</label>  
        <input type="number" name="ToallaDeBañoNueva">
          </p>
      <p>
        <label>Tapete De Baño Vieja</label>  
        <input type="number" name="TapeteDeBañoVieja">
          </p>
      <p>
        <label>Tapete De Baño Nueva</label>  
        <input type="number" name="TapeteDeBañoNueva">
          </p>
      <p>
        <label>Toalla De Mano Vieja</label>  
        <input type="number" name="ToallaDeManoVieja">
          </p>
      <p>
        <label>Toalla De Mano Nueva</label>  
        <input type="number" name="ToallaDeManoNueva">
          </p>
      <p>
        <label>Toalla Facial</label>  
        <input type="number" name="ToallaFacial">
          </p>
      <p>
        <label>Bata De Baño</label>  
        <input type="number" name="BataDeBaño">
          </p>
      <p>
        <label>Bata Aislamiento</label>  
        <input type="number" name="BataAislamiento">
          </p>
      <p>
        <label>Bata Paciente</label>  
        <input type="number" name="BataPaciente">
          </p>
      <p>
        <label>Bata Regular</label>  
        <input type="number" name="BataRegular">
          </p>
      <p>
        <label>Cobertor</label>  
        <input type="number" name="Cobertor">
          </p>
      <p>
        <label>Edrecolcha</label>  
        <input type="number" name="Edrecolcha">
          </p>
      <p>
        <label>Relleno</label>  
        <input type="number" name="Relleno">
          </p>
      <p>
        <label>Cortina De Baño</label>  
        <input type="number" name="CortinaDeBaño">
          </p>
      <p>
        <label>Rodapie</label>  
        <input type="number" name="Rodapie">
          </p>
      <p>
        <label>Dubeth</label>  
        <input type="number" name="Dubeth">
          </p>
      <p>
        <label>Protector De Colchon</label>  
        <input type="number" name="ProtectorDeColchon">
          </p>
      <p>
        <label>Pie De Cama</label>  
        <input type="number" name="PieDeCama">
          </p>
      <p>
        <label>Limpion</label>  
        <input type="number" name="Limpion">
          </p>
      <p>
        <label>Cortina Blackout</label>  
        <input type="number" name="CortinaBlackout">
          </p>
              <h3>Manteleria</h3>
      <p>
        <label>Moyeton</label>  
        <input type="number" name="Moyeton">
          </p>
      <p>
        <label>Moyeton Plastificado</label>  
        <input type="number" name="MoyetonPlastificado">
          </p>
      <p>
        <label>Banda</label>  
        <input type="number" name="Banda">
          </p>
      <p>
        <label>Camino</label>  
        <input type="number" name="Camino">
          </p>
      <p>
        <label>Bambalina</label>  
        <input type="number" name="Bambalina">
          </p>
      <p>
        <label>Bambalina Grande</label>  
        <input type="number" name="BambalinaGrande">
          </p>
      <p>
        <label>Cubre Silla</label>  
        <input type="number" name="CubreSilla">
          </p>
      <p>
        <label>Cubre Charola</label>  
        <input type="number" name="CubreCharola">
          </p>
      <p>
        <label>Cubre Cabrilla</label>  
        <input type="number" name="CubreCabrilla">
          </p>
      <p>
        <label>Cubre Mantel</label>  
        <input type="number" name="CubreMantel">
          </p>
      <p>
        <label>Liston</label>  
        <input type="number" name="Liston">
          </p>
      <p>
        <label>Tablon</label>  
        <input type="number" name="Tablon">
          </p>
      <p>
        <label>Tablon Grande</label>  
        <input type="number" name="TablonGrande">
          </p>
      <p>
        <label>Mantel Grande</label>  
        <input type="number" name="MantelGrande">
          </p>
      <p>
        <label>Mantel Mediano</label>  
        <input type="number" name="MantelMediano">
          </p>
      <p>
        <label>Mantel Redondo</label>  
        <input type="number" name="MantelRedondo">
          </p>
      <p>
        <label>Mantel Imperial</label>  
        <input type="number" name="MantelImperial">
          </p>
      <p>
        <label>Mantel Spandex</label>  
        <input type="number" name="MantelSpandex">
          </p>
      <p>
        <label>Servilleta</label>  
        <input type="number" name="Servilleta">
          </p>
      <p>
        <label>Cortina Negra</label>  
        <input type="number" name="CortinaNegra">
          </p>
      <p>
        <label>Moño</label>  
        <input type="number" name="Moño">
          </p>
      <p>
        <label>Bandera</label>  
        <input type="number" name="Bandera">
          </p>

              <h3>Ropa ExpoGDl EXT</h3>
      
      <p>
        <label>Filipina</label>  
        <input type="number" name="Filipina">
          </p>
      <p>
        <label>Chamarra Termica</label>  
        <input type="number" name="ChamarraTermica">
          </p>
      <p>
        <label>Chaleco</label>  
        <input type="number" name="Chaleco">
          </p>
      <p>
        <label>Traje De Bombero 5pz</label>  
        <input type="number" name="TrajeDeBombero5pz">
          </p>        

          <h3>Servicio Frente</h3>

      <p>
        <label>Encargo Por Kilo</label>  
        <input type="number" name="EncargoPorKilo">
          </p>  
  
      <p>
        <label>Plancha Docena</label>  
        <input type="number" name="PlanchaDocena">
          </p>  
      <p>
        <label>Plancha Pieza</label>  
        <input type="number" name="PlanchaPieza">
          </p>  
      <p>
        <label>Blusas</label>  
        <input type="number" name="Blusas">
          </p>  
      <p>
        <label>Camisas</label>  
        <input type="number" name="Camisas">
          </p>  
      <p>
        <label>Corbatas</label>  
        <input type="number" name="Corbatas">
          </p>  
      <p>
        <label>Chamarras</label>  
        <input type="number" name="Chamarras">
          </p>  
      <p>
        <label>Playeras</label>  
        <input type="number" name="Playeras">
          </p>  
      <p>
        <label>Faldas</label>  
        <input type="number" name="Faldas">
          </p>  
      <p>
        <label>Pantalones</label>  
        <input type="number" name="Pantalones">
          </p>  
      <p>
        <label>Sacos</label>  
        <input type="number" name="Sacos">
          </p>  
      <p>
        <label>Sweters</label>  
        <input type="number" name="Sweters">
          </p>  
      <p>
        <label>Trajes 2Pz</label>  
        <input type="number" name="Trajes2Pz">
          </p>  
      <p>
        <label>Trajes 3Pz</label>  
        <input type="number" name="Trajes3Pz">
          </p>  
      <p>
        <label>Vestidos</label>  
        <input type="number" name="Vestidos">
          </p>  
      <input type="submit" value="Enviar" >
  
  
  
    </form>
  </div>

</body>
</html>
