<h1>proyecto KW</h1> 
<header>

  <div class="contenedorHeaderPrincipal">
<div class="espacioIzquierda"></div>


  <ul class="flex-container">
  <li id="logo"><a href="#" class="flex-item">KW</a></li>
  <li class="flex-item"><a [routerLink]="['/login']"[routerLinkActive]="['actived']">Inicio de sesión</a></li>
  <li class="flex-item"><a [routerLink]="['/notaNueva']"[routerLinkActive]="['actived']">Nota Nueva</a></li>
  <li class="flex-item"><a [routerLink]="['/reportes']"[routerLinkActive]="['actived']">Reportes</a></li>
    </ul>


<div class="espacioDerecha"></div>
</div>
</header>
<section id="content">
<router-outlet></router-outlet>
</section>

<footer>
  Automatización de reportes Notas KW
  by Yadimir
</footer>