
/*estilos generales*/
display: flex;

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: whitesmoke;
    background-attachment: fixed;
}

.clearfix{
    float: none;
    clear: both;
}

/*Barra de navegacion o header*/

header{
    width: 100%;
    height: 20%;
    background-color: rgb(2, 99, 219, 0.8);
    position: fixed;
    text-transform: uppercase;
   
    
}
header ul{
    width: 55%;
    height: inherit;
    margin: auto;
    margin-top: 3px;

}
header ul li{
    display: inline-block;
    margin: auto;
    text-align: center;
    line-height: 80px;
}

header a{
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms;
    

}

header a:hover, .actived{  
    background: rgba(0, 0, 0, 0.8);
}
/*logotipo  */
#logo{font-family: 'Times New Roman', Times, serif;
       font-size: 100px; }

#logo a{transition: color 500ms, transform 500ms;}

header #logo a:hover{
    background: transparent;
    color: black;
    transform: scale(1.5,1.5 );
}
.contenedorHeaderPrincipal{
    display: flex;
    height: inherit;
    width: inherit;
}
.flex-container{

    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    width: 60%;
    
} 
.flex-item{
  padding: 5px;
  width: 200px;
  height: 80px;
  margin-top: 10px;
  line-height: 40px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  align-content: center;
  padding-top: 100px;

}

/*separador izquierda y derecha header*/

.espacioIzquierda{
    width: 20%;
    height: inherit;
    display: flex;
}

.espacioDerecha{
    width: 20%;
    height: inherit;
    padding-right: 0%;
}


/*Contenedor principal*/

#content{
    display: flex;
    min-height: 500px;
    width: 75%;
    margin: 0px auto;
    box-shadow: 0px 0px 40px black;
    border-left: 1px solid #b7b7b7;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 120px;
}

/*Pied de pagina*/
footer{
    width: 75%;
    margin: 0px auto;
    padding-top: 15px;
    color: rgba(0, 0,0, 0.5);
}
/*NotasNuevas*/

.nota{
    width: 70%;
    margin: 0px auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.nota h1{
    font-size: 60px;
    border-bottom: 2px solid #ccc;
}
.nota h3{
    margin-top: 20px;
    font-size: 30px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
}

